body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-item:hover  {
  background-color: #ddd;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }



/* ADMINISTRACE */
.search-form input {
  float: left;
  width: 55%;
}

.search-form button {
  float: left;
  width: 80px;
  margin-left: 5px;
}

.admin-articles article {
  float: left;
  width: 100%;
  padding: 10px 0 10px 0;
}

.admin-articles article img {
  float: left;
  max-width: 250px;
  max-height: 150px;
}

.admin-articles article header {
  float: left;
  max-width: 520px;
  padding: 0 20px 0 10px;
}

.admin-articles article header h4 {
  font-size: 12px;
}

.admin-articles article .edit {
  float: left;
}

.edit-post {
  float: left;
  margin-top: 20px;
  width: 100%;
}
.edit-post label {
  float: left;
  width: 50%;
  margin: 0 50% 0 0;
  font-size: 12px;
}

.edit-post .in {
  float: left;
  width: 50%;
  height: 30px;
  margin: 0 50% 5px 0;
}

.edit-post textarea {
  float: left;
  width: 100%;
  height: 350px;
  resize: none;
  margin-bottom: 5px;
}

.edit-post button {
  float: right;
  width: 80px;
}

.admin-get-all {
  float: left;
  width: 100%;
}
.edit-users {
  float: left;
  max-width: 500px;
  text-align: center;
}

.edit-users tr:nth-child(even) {
  background: #ddd;
}

.edit-users tr:nth-child(odd) {
  background: #eee;
}

.edit-users tr th {
  padding: 5px 15px 5px 15px;
  background-color: #fff;
}

.edit-users tr td{
  padding: 5px 15px 5px 15px;
}

.edit-user-form {
  max-width: 500px;
  float: left;
}

.edit-user-form label{
  float: left;
  width: 100%;
  margin: 0;
  font-size: 12px;
}

.edit-user-form input {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

.edit-user-form button {
  float: right;
}
