html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/******************** MEIN CODE *********************/
/*********** Globally repeating elements ***********/
* {
	margin-top: 0;
	padding: 0;

	list-style-type: none;
	text-decoration: none;

	/*font-family: Helvetica;*/

  font-family: "Open Sans";
}

a {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	color: #02A5E0;
}

h2 {
  font-family: "Open Sans";
  font-weight: bolder;
}

h3 {
  font-family: "Open Sans";
  font-weight: 900;
}

p {
  color: #666;
  font-family: "Open Sans";
  line-height: 20px;
}

footer {
  float: left;
  width: 100%;
	background-color: #222222;
}

/* ------ LAYOUT ------- */
.container {
  float: left;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.page {
  display: block;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/* Responsivnes */
@media (max-width: 768px) {
  .page {
    width: 100%;
  }
}

.post-page {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .post-page {
    float: left;
    width: 90%;
    padding: 20px 5% 0 5%;
  }
}

.post {
  float: left;
  padding: 30px 15px 0 0;
  width: 670px;
}

@media (max-width: 768px) {
  .post {
    width: 100%;
  }
}

.category-articles {
  display: block;
  float: left;
  margin-top: 30px;
  width: 690px;
}

.post-aside {
  float: left;
  padding: 30px 0 0 10px;
  width: 300px;
}

.footer-content {
	width: 1000px;
  margin-left: auto;
  margin-right: auto;
	color: #fff;
}

/* Responsivnes */
@media (max-width: 768px) {
  .footer-content {
    display: block;
    width: 100%;
  }
}

.arrows .arrow {
	border: none;
	color: gray;
	background-color: white;
	height: 26px;
	width: 26px;
}

.arrows li {
	float: right;
	margin-right: 5px;
}

/* read more button */
.read-more {
  display: block;
  width: 120px;
  border: solid 1px #02A5E0;

  padding: 5px 0 5px 0;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: #02A5E0;
  cursor: pointer;
}

.read-more {
	color: #fff;
}

.read-more:hover {
	color: #fff;
}

.read-more:visited {
	color: #fff;
}

.bottom-line {
  margin-bottom: 8px;
	border-bottom: solid 1.5px #02A5E0;
}

.by {
  color: #02A5E0;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.article-body {
  line-height: 20px;
  font-size: 14px;
  float: left;
}

.scroll-top {
  outline: 1px solid #656565;
  position: fixed;
  top: 95%;
  left: 78%;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .scroll-top {
    top: 95%;
  }
}

/************* Globally repeating elements **************/

/***************** HEADER ***************/

.main-header {
  float: left;
	background-color: #fff;
}

.left-nav {
  float: left;
  margin-top: 60px;
  width: 33%;
}

/* Responsivnes */
@media (max-width: 768px) {
  .left-nav {
    float: right;
    margin-top: 10px;
  }
}

.left-nav ul {
  float: left;
}

.left-nav ul li {
  float: left;
  padding: 8px 5px 0 5px;
  font-size: 12px;
  font-weight: 550;
}

.left-nav ul li a {
  color: #666;
}

.left-nav ul li a:visited {
  color: #666;
}

.logout-form {
  float: left;
  padding-right: 10px;
}

.logout-form button {
  float: left;
  padding-right: 5px;
  margin-top: 2px;
  background-color: #ccc;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 3px 10px 3px 10px;
}

.logo {
  width: 34%;
  float: left;
	margin: 10px 0 10px 0;
}

.right-nav {
  width: 33%;
  padding-top: 60px;
  float: left;
}

/* Responsivnes */
@media (max-width: 768px) {
  .main-header {
    width: 100%;
  }

  .right-nav {
    display: none
  }

  .logo {
    float: left;
    width: 50%;
  }

  .logo img {
    float: left;
    width: 100%;
  }
}

.right-nav li {
  float: right;
  padding-left: 5px;
}

.nav-bar {
  width: 100%;
  float: left;
	outline: 1px #ddd solid;
}

.main-nav {
	list-style-type: none;
	height: 42px;
  font-weight: bold;
}

.main-nav li {
  float: left;
	text-align: center;
}

.main-nav li:last-child {
  float: right;
	text-align: center;
}

.main-nav a {
	/* outline: 1px solid red; */
  max-width: 105px;
  display: block;
  padding: 12px 22px 0 22px;
  color: #666;
  height: 30px;
}

.main-nav a:visited {
	color: #666;
}

.main-nav a:hover {
	color: white;
	background-color: #02A5E0;
}

 .main-nav li .search {
  float: right;
  width: 42px;
  height: 42px;
  padding: 0;
  margin: 0;
	display: block;
  outline: 1px solid #ddd;
	background: transparent;
  cursor: pointer;
}

 .main-nav li .search img {
   margin-top: 15px;
 }

.main-articles {
  width: 100%;
  float: left;
  margin-top: 15px;
	background-color: #2C2929;
}

/* Responsivnes */
@media (max-width: 768px) {
  .main-articles {
    display: none;
  }
}

.first-article {
  width: 50%;
  height: 458px;
  display: block;
  float: left;
}

.first-article .first-article-header {
  max-width: 50%; /* zasahovalo do side-articles*/
  position: absolute;
  top: 500px;
  color: white;
  padding: 0 0 0 20px;
}

.first-article .first-article-header h2 {
  max-width: 420px;
  line-height: 25px;
  font-size: 22px;
  padding-bottom: 20px;
}

.first-article .first-article-header p {
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}

.first-article .first-article-header h3 {
  color: #02A5E0;
  padding-bottom: 15px;
}

.first-article .first-article-header a {
  color: #fff;
}

.first-article .first-article-header a:visited {
  color: #fff;
}

.first-article .first-article-header a:hover {
  color: #fff;
}

.first-article img#slider-img {
  width: 500px;
}

.side-articles {
  width: 50%;
  float: left;
	color: #fff;
}

.side-articles a {
	color: #fff;
}

.side-articles a:visited {
	color: #fff;
}

.side-articles a:hover {
	color: #02A5E0;
}

.side-articles article {
  float:left;
  width: 90%;
	padding: 10px 0 0 5px;
	height: 80px;
  max-height: 19%;
}

.side-articles img {
  float: left;
  width: 28%;
  padding-left: 5px;
}

.side-articles-header {
  float: left;
  width: 68%;
  height: 60px;
  padding: 0 0 0 10px;
}

.side-articles-header h2 {
	font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
}

.side-articles .article-info {
  float: left;
  align-self: flex-end;
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.side-articles time {
  padding-right: 15px;
}

/***************** konec main-headeru ****************/

/************* MAIN CONTENT  **************/
.main-content {
  float: left;
  width: 1000px;
	margin-top: 30px;
  background-color: #fff;
}

/* Responsivnes */
@media (max-width: 768px) {
  .main-content {
    width: 100%;
  }
}

.article-info {
  font-size: 12px;
}

.main-content h2 {
  height: 20px;
	border: solid #02A5E0 thick;
	border-right: none; border-top: none; border-bottom: none;
	padding-top: 5px;
	padding-left: 20px;
	font-size: 18px;
  font-weight: bolder;
}

.main-content h3 {
	font-size: 14px;
  line-height: 20px;
}

.world-news {
  float: left;
  border-bottom: solid 1px #ddd;
}

.world-news-nav {
	display: grid;
	grid-template-columns: 150px 510px 280px 60px;
}

/* Responsivnes */
@media (max-width: 768px) {
  .world-news {
    width: 90%;
    margin-left: 10%;
  }

  .world-news-nav {
    display: block;
    float: left;
    width: 100%;
  }

  .world-news-nav .regions li {
    display: none;
  }

  .bottom-line {
    display: none;
  }
  .arrows {
    display: none;
  }
}

.world-news-nav .regions li {
	float: left;
  padding-top: 10px;
	padding-left: 20px;
  font-size: 12px;
}

.last-3 {
  float: left;
  width: 100%;
  margin: 30px 0 25px 0;
}

.last-3 article {
    width: 320px;
    float: left;
    border-bottom: solid 1px #ddd;
    padding-bottom: 25px;
}

/* Responsivnes */
@media (max-width: 768px) {

  .last-3 {
    margin-bottom: 0;
  }

  .last-3 article {
    border: none;
    width: 100%;
  }
  .last-3 article:nth-child(n+3) {
    display: none;
  }
}

.last-3 article:first-child {
  margin-right: 20px;
}

.last-3 article:last-child {
  margin-left: 20px;
}

.last-3 article img {
  width:320px;
  height:200px;
}

@media (max-width: 768px) {

  .last-3 article img {
    max-width:310px;
  }
}


.last-3 article h3 {
  padding: 12px 0 10px 0;
}

.last-3 header p {
  padding-top: 8px;
  font-size: 12px;
}

.last-3 p {
  padding: 10px 5px 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.last-4-to-12 {
  float: left;
}

/* Responsivnes */
@media (max-width: 768px) {
  .last-4-to-12 {
    display: none;
  }
}

.last-4-to-12 article {
  float: left;
  width: 320px;
	float: left;
  margin-bottom: 20px;
}

.last-4-to-12 article:nth-child(3n+1) {
  margin-right: 20px;
}

.last-4-to-12 article:nth-child(3n+3) {
  margin-left: 20px;
}

.last-4-to-12 article img {
	float: left;
  width: 25%;
}

.last-4-to-12 article h3 {
	float: left;
  height: 50px;
  padding: 5px 5px 5px 10px;
  width: 70%;
}

.last-4-to-12 article p {
  padding-top: 15px;
  float: left;
	font-size: 12px;
}

.last-4-to-12 article .article-info {
  float: left;
  padding-left: 10px;
}

.fashion {
	float: left;
  width: 100%;
	margin-top: 30px;
	border-bottom: solid  1px #ddd;
	padding-bottom: 5px;
}

.fashion header {
  float: left;
  margin-bottom: 30px;
}

.fashion .bottom-line {
  float: left;
  width: 780px;
  padding-top: 20px;
}

.fashion header h2 {
  float: left;
  width: 100px;
}

.fashion header .arrows {
  float: right;
  width: 80px;
}

.fashion article {
	float: left;
  padding-bottom: 5px;
	width: 100%;
}

.fashion article img {
	float: left;
  width: 310px;
  height: 190px;
  margin: 0 15px 15px 0;
}

.fashion article header {
  float: left;
  margin-bottom: 5px;
  width: 650px;
	font-size: 16px;
}

.fashion article .article-info {
  float: left;
  padding: 0 0 10px 0;
  width: 66%;
}

.fashion article .article-body {
  float: left;
  width: 66%;
  padding-bottom: 10px;
}

.fashion article .read-more {
  float: left;
}

/* Responsivnes */
@media (max-width: 768px) {
  .fashion {
    width: 90%;
    margin-left: 10%;
    padding-bottom: 20px;
  }

  .fashion article {
    border: none;
    width: 100%;
  }

  .fashion article:nth-child(n+3) {
    display: none;
  }

  .fashion article header {
    float: left;
    width: 90%;
  }

  .fashion article .article-body {
    width: 90%;
  }
}

/************* BOTTOM CONTENT *****************/
.bottom-boxes {
  float: left;
}

.other-categories {
  float: left;
  width: 666px;
	border-right: solid 1px #ddd;
}

@media (max-width: 768px) {
  .other-categories {
    border-right: none;
    width: 100%;
  }
}

.side-bar {
  float: left;
  width: 329px; /* 1px je border */
  padding: 0;
}

@media (max-width: 768px) {
  .side-bar {
    width: 90%;
    margin-left: 10%;
  }
}

/* LIFESTLE */
.lifesyle {
  float: left;
  width: 666px;
	border-bottom: solid 1px #ddd;
	padding: 30px 0 20px 0;
}

@media (max-width: 768px) {
  .lifesyle {
    width: 90%;
    margin-left: 10%;
  }
}

.lifesyle header {
  height: 30px;
  margin-bottom: 30px;
}

.lifesyle .bottom-line {
  float: left;
  width: 450px;
  padding-top: 20px;
}

.lifesyle header h2 {
  float: left;
  width: 100px;
}

.lifesyle header .arrows {
  float: right;
  padding-right: 5px;
  width: 80px;
}

.ls-last-article {
  float: left;
  width: 50%;
}

@media (max-width: 768px) {
  .ls-last-article  {
    width: 100%;
  }
}

.ls-last-article article {
  float: left;
}

.ls-last-article article img {
  width: 95%;
  float: left;
}

.ls-last-article article header {
  float: left;
  position: absolute;
  width: 200px;
  padding: 200px 0 0 25px;
  color: #fff;
}

.ls-last-article article .article-info {
  padding-top: 5px;
  font-weight: 900;
}

.ls-last-article article header a {
  color: #fff;
}

.ls-last-article article header a:visited {
  color: #fff;
}

.ls-last-article article header a:hover {
  color: #02a5e0;
}

.ls-last-article article p {
  padding-top: 20px;
  font-size: 12px;
}

.ls-3-articles {
  float: left;
  width: 50%;
}

@media (max-width: 768px) {
  .ls-last-article img {
    max-width: 326px;
  }
}

@media (max-width: 768px) {
  .ls-3-articles {
    display: none;
  }
}

.ls-3-articles article {
  float: left;
  padding: 0 5px 15px 0;
}

.ls-3-articles article img {
  float: left;
  width: 30%;
}

.ls-3-articles article header {
  float: left;
  width: 60%;
  padding: 5px 5px 15px 10px;
}

.ls-3-articles article .article-info {
  padding-top: 25px;
  font-size: 12px;
}

/* SPORTS */
.sports {
  float: left;
  width: 666px;
	border-bottom: solid 1px #ddd;
	padding: 30px 0 20px 0;
}

@media (max-width: 768px) {
  .sports {
    width: 90%;
    margin-left: 10%;
  }
}

.sports header {
  height: 30px;
}

.sports .bottom-line {
  float: left;
  width: 450px;
  padding-top: 20px;
}

.sports header h2 {
  float: left;
  width: 100px;
}

.sports header .arrows {
  float: right;
  padding-right: 5px;
  width: 80px;
}

.sp-last-article {
  float: left;
  width: 100%;
}

.sp-last-article article {
  float: left;
  padding: 30px 0 0 0;
}

.sp-last-article article img {
	float: left;
  margin: 0 15px 5px 0;
}

.sp-last-article article header {
  float: left;
  width: 300px;
}

@media (max-width: 767px) {
  .sp-last-article article header {
    width: 90%;
  }
}

.sp-last-article article header h3 {
  padding-bottom: 8px
}

.sp-last-article article .article-info {
  float: left;
  width: 50%;
  font-size: 12px;
}

@media (max-width: 767px) {
  .sp-last-article article .article-info  {
    width: 90%;
  }
}

.sp-last-article article .article-body {
  float: left;
  width: 50%;
  padding: 15px 0 15px 0;
  font-size: 14px;
}

@media (max-width: 767px) {
  .sp-last-article article .article-body {
    width: 90%;
  }
}

.sp-last-article article .read-more {
  float: left;
}

.sp-4-articles {
  float: left;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .sp-4-articles  {
    display: none;
  }
}

.sp-4-articles article {
  float: left;
  width: 320px;
	margin: 10px 5px 0 0;
}

.sp-4-articles article img {
	float: left;
}

.sp-4-articles article header {
	float: left;
  padding: 5px 0 0 10px;
  width: 200px;
}

.sp-4-articles article .article-info {
	font-size: 12px;
  padding-top: 15px;
}

.tech-n-food {
  float: left;
  width: 650px;
}

@media (max-width: 768px) {
  .tech-n-food  {
    width: 90%;
    margin-left: 10%;
  }
}

.technology {
  float: left;
  width: 333px;
  padding: 30px 0 30px 0;
  border-right: solid 1px #ddd;
}

@media (max-width: 768px) {
  .technology {
    width: 100%;
    border-right: none;
  }
}

.technology header {
  float: left;
  padding-bottom: 30px;
}

.technology header h2 {
  float: left;
  width: 215px;
}

.technology header .arrows {
  float: right;
  width: 80px;
}

.technology article {
	float: left;
  height: 175px;
  padding: 0 15px 15px 0;
}

@media (max-width: 768px) {
  .technology article   {
    width: 100%;
  }
}

.technology img {
  width: 100%;
}

@media (max-width: 768px) {
  .technology img  {
    max-width: 310px;
  }
}


.food-n-health {
  float: left;
	width: 300px;
  padding: 30px 0 0 15px;
}

@media (max-width: 768px) {
  .food-n-health {
    width: 100%;
    border: none;
    padding-left: 0;
  }
}

.food-n-health header {
  width: 310px;
  float: left;
  margin-bottom: 30px;
}

.food-n-health header h2 {
  float: left;
}

.food-n-health header .arrows {
  float: right;
  width: 70px;
}

.food-n-health article {
  height: 80px;
	float: left;
  margin-bottom: 15px;
}

.food-n-health article img {
	float: left;
  width: 30%;
}

.food-n-health article header {
	float: left;
  max-width: 60%;
  padding: 5px 0 0 10px;
}

.food-n-health article .article-info {
  padding-top: 15px;
	font-size: 12px;
}

/* SIDEBAR*/
.recent-posts {
  float: left;
	padding: 30px 0 20px 0;
	border-bottom: solid 1px #ddd;
}

@media (max-width: 768px) {
  .recent-posts {
    float: left;
    border: none;
    padding-left: 0;
    width: 100%;
  }
}

.recent-posts header {
  padding: 0 0 20px 20px;
}

.recent-posts article {
	display: block;
	height: 65px;
	border-bottom: solid 1px #ddd;
  margin: 0 0 0 20px;   /* top right bottom left */
  padding: 10px 0 10px 0;
}

.recent-posts article:last-child {
  border: none;
}

.recent-posts article img {
	float: left;
}

.recent-posts article header {
	float: left;
  width: 60%;
  height: 30px;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .recent-posts article header {
    width: 70%;
  }
}

.recent-posts article .article-info {
	font-size: 12px;
  float: left;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .recent-posts article {
    padding-left: 0;
    margin-left: 0;
  }
  .recent-posts header {
    padding-left: 0;
  }
}

.categories {
  float: left;
  width: 100%;
	padding: 20px 0 20px 20px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .categories  {
    border: none;
    padding: 0;
    margin-bottom: 5px;
    width: 90%;
  }
}

.categories ul {
	list-style-type: none;
}

.categories header {
	float: left;
  width: 100%;
  margin: 10px 0 20px 0;
}


.categories ul li {
  float: left;
  width: 90%;
	border-bottom: solid 1px #ddd;
	padding: 10px 0 10px 0;
}

.categories ul li a {
  font-weight: bold;
}

.categories .num-of-posts {
  float: right;
}

.banner {
	float: left;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .banner {
    display: none;
  }
}

/********************** FOOTER CONTENT *************************/
.footer-content p {
  font-size: 14px;
  color: #ccc;
}

.footer-content h2 {
	margin-top: 30px;
	padding-left: 15px;
	border-left: solid 4px #02A5E0;
	font-size: 16px;
	letter-spacing: 1px;
}

.contact {
  float: left;
  width: 33.3%;
}

@media (max-width: 768px) {
  .contact {
    width: 90%;
    padding-left: 10%;
  }
}

.contact .footer-logo {
	margin-top: 20px;
	margin-bottom: 20px;
}

.contact p {
	padding: 0 40px 5px 0px; /* top right bottom left */
	line-height: 26px;
  color: #ccc;
  letter-spacing: 0.8px;
  font-size: 14px;
}

.contact ul {
  padding-top: 10px;
}

.contact li {
	float: left;
	width: 52px;
	height: 52px;
	margin-top: 5px;
  margin-right: 5px;
}

.most-viewed {
  float: left;
  width: 33.3%;
}

@media (max-width: 768px) {
  .most-viewed  {
    display: none;
  }
}

.most-viewed h2 {
  float: left;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
}

.most-viewed article {
	float: left;
  width: 90%;
  height: 85px;
  padding: 15px 0 0px;
  border-bottom: solid 1px #666;
}

.most-viewed article:last-child {
    border: none;
}

.most-viewed article img {
  float: left;
  margin-right: 10px;
}

.most-viewed article h3 {
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  padding-bottom: 10px;

}

.most-viewed article a {
  color: #ddd;
}

.most-viewed article a:hover {
  color: #02A5E0;
}

.most-viewed article p {
  font-size: 12px;
}

.twitter {
  float: left;
  width: 33%;
}

@media (max-width: 768px) {
  .twitter {
    display: none;
  }
}

.twitter h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.twitter article {
  float: left;
  width: 90%;
  height: 80px;
  padding: 20px 0 0 0px;
  border-bottom: solid 1px #666;
}

.twitter article p {
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
}

.twitter article:last-child {
  border: none
}

.twitter img {
	padding-right: 5px;
}

.twitter article .time-ago {
  padding-top: 5px;
  font-size: 12px;
}

.copyrights {
  float: left;
  width: 100%;
  margin-top: 20px;
	border-top: solid 0.5px #666;
}

.copyrights p {
	text-align: center;
	padding: 20px;
	font-size: 14px;
  color: #ccc;
}

/****************** POST-PAGE *******************/

.post-main-header {
	display: block;
	width: 100%;
	height: 100px;
}

.post-main-header nav {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.post-main-header p {
  font-size: 12px;
  font-weight: bold;
  word-spacing: 5px;
}

.post-main-header p span {
  word-spacing:normal;
}


@media (max-width: 768px) {
  .post-main-header nav  {
    float: left;
    max-width: 100%;
  }

  .post-main-header p {
    display: none;
  }
}

.post-main-header nav .logo {
	float: left;
  padding: 15px 0 10px 0;
  margin: 0;
  width: 180px;
}

@media (max-width: 768px) {
  .post-main-header nav .logo  {
    padding-left: 20px;
  }
}

.post-main-header nav ul {
	float: right;
}

.post-main-header nav .search {
	float: right;
  padding: 35px 5px 0 20px;
}

.post-main-header nav ul li {
	float: right;
	padding: 35px 0 25px 20px; /*top right bot left*/
}

@media (max-width: 420px) {
  .post-main-header nav ul li  {
    padding: 10px 5px 20px 5px;
  }

  .post-main-header nav ul li:last-child  {
    display: none;
  }
}

.post-main-header nav ul li a {
	color: #222;
	font-size: 14px;
}

.post-main-header nav ul li a:hover{
	color: #02A5E0;
}

.post-main-header .heading {
	width: 100%;
	float: left;

	background-color: #fafafa;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}

.post-main-header .heading nav {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0 30px 0;
}

.post-main-header .heading nav h1 {
	float: left;
  color: #666;
}

@media (max-width: 768px) {
  .post-main-header .heading nav h1{
    float: left;
    padding-left: 15px;
  }
}


.post-main-header .heading nav p {
	float: right;
  padding-right: 15px;
}


.post article {
  float: left;
  max-width: 100%;
}

.post article img {
  padding-top: 0;
  max-width: 100%;
}

@media (max-width: 768px) {
  .post article img {
    float: left;
    max-height: 200px;
  }
}

.post article header h2 {
  padding: 10px 0 0 0;
  font-size: 20px;
}

.post article header {
  padding: 15px 0 10px 0;
}

.post article .article-info {
  padding: 0 0 20px 0;
}

.post article img {
  padding: 15px 15px 15px 0;
  float: left;
}

.post article ul {
  display: block;
  width: 95%;
  margin-left: 5%;
  float: left;
}

.post article li {
  color: #666;
  list-style-type:disc;
  line-height: 20px;
  padding: 1px;
}

.post article li h2 {
  color: #444;
}

.post .article-body p {
  line-height: 25px;
}

.post .article-body q {
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.post article h4 {
  position: relative;
  padding: 25px 5px 10px 0;
}

.post .tags {
  float: left;
  padding: 20px 0 20px 0;
}

.post .tags ul {
  margin-left: 0;
  width: 100%;
}

.post .tags ul li h2 {
  color: #888;
}

.post .tags ul li {
  list-style-type: none;
  float: left;
  min-width: 30px;
  max-width: 150px;
  padding: 3px 15px 3px 15px;
  margin-right: 10px;
  background-color: #fafafa;
  border: solid 1px #bbb;
  font-size: 12px;
  font-weight: bolder;
  color: #888;
  letter-spacing: 0.8px;
}

.post .tags ul li:first-child {
  font-weight: bold;
  background-color: #fff;
  padding: 3px 0 3px 0;
  border: solid 1px #fff;
  font-size: 14px;

}

.post .share ul {
  float: left;
  width: 100%;
  background-color: #fafafa;
  border: solid 1px #ddd;
  padding: 20px 0 20px 0;
}

.post .share ul li {
  list-style-type: none;
  float: left;
  min-width: 35px;
  max-width: 150px;
  font-size: 14px;
  color: #888;
}

.post .share ul li h2 {
  padding-top: 3px;
}

.post .share ul li:first-child {
  padding: 5px 20px 0 20px;
}

.post .author {
  float: left;
  width: 100%;
  padding-top: 20px;
  margin: 10px 0 10px 0;
  border: solid 1px #ddd;
}

.post .author img {
  float: left;
  max-width: 15%;
  padding: 10px;
  margin-bottom: 15px;
}

.post .author h2 {
  float: left;
  padding: 10px;
}

.post .author p {
  float: left;
  line-height: 20px;
  max-width: 80%;
  padding: 5px 0  5px 10px;
}

@media (max-width: 768px) {
  .post .author p {
    max-width: 90%;
  }
}

.post .author ul li a {
  padding-left: 0;
}

.post .author a {
  color: #000;
}

.post .author a:hover {
  color: #000;
}

.post .author a:visited {
  color: #000;
}

.post .author .prev-post {
  float: left;
  width: 335px;
  height: 100px;
  border-top: solid 1px #ddd;
}

@media (max-width: 768px) {
  .post .author .prev-post{
    width: 100%;
  }
}

.post .author .prev-post h4 {
  float: right;
  width: 80%;
  margin-right: 10px;
  text-align: right;
  font-size: 14px;
  font-weight: 900px;
  letter-spacing: 0.5px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .post .author .prev-post h4 {
    width: 70%;
  }
}

.post .author .prev-post h5 {
  float: right;
  padding: 15px 10px 0 0;
  color: #666;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-weight: 900;
}

.post .author .prev-post img {
  float: left;
  margin-top: 35px;
}

.post .author .prev-post:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.post .author .next-post {
  float: left;
  width: 334px;
  height: 100px;
  border-top: solid 1px #ddd;
  border-left: solid 1px #ddd;
}

@media (max-width: 768px) {
  .post .author .next-post{
    width: 100%;
  }
}

.post .author .next-post h5 {
  float: left;
  width: 100%;
  padding: 15px 0 0 10px;
  color: #666;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-weight: 900;
}

.post .author .next-post:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.post .author .next-post h4 {
  float: right;
  width: 80%;
  padding: 20px 10px 20px 0px;
  font-size: 14px;
  font-weight: 900px;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.post .author .next-post img {
  float: right;
  margin-top: 10px;
}

.post .author .prev-post h4 {
  float: left;
  padding: 20px 0 20px 10px;
}

.post .related-articles {
  float: left;
  width: 100%;
  padding: 20px 0 20px 0;
}

.post .related-articles article {
  float: left;
  width: 48.5%;
  height: 200px;
}

@media (max-width: 425px) {
  .post .related-articles article {
    padding-top: 5px;
    width: 100%;
  }
}

.post .related-articles article:last-child {
  float: right;
}

.post .related-articles article a {
  float: left;
}

.post .related-articles article img {
  float: left;
  width: 100%;
  height: 200px;
}
.post .related-articles article header {
  width: 300px;
  height: 100px;
  position: absolute;
  margin-top: 140px;
  /* top: -90px; */
  color: #fff;
  padding: 0 0 0 20px;
}

.post .related-articles article header .article-info {
  height: 20px;
  float: left;
}

.post .related-articles article header h3 {
  float: left;
  width: 100%;
  line-height: 20px;
  height: 40px;
  padding-bottom: 10px;
}


/* ---- COMMENTS ---- */
.post .load-comments {
  float: left;
  width: 100%;
  padding: 30px 0 30px 0;
}

.post .load-comments header {
  float: left;
  width: 100%;
  margin: 0 0 25px 0;
}

.post .load-comments .comment {
  float: left;
  width: 100%;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #ddd;
}

.post .load-comments .comment:last-child {
  border-bottom: none;
}

.post .load-comments .comment .comment-info {
  float: left;
  width: 570px;
  font-size: 12px;
  color: #666;
}

.post .load-comments .comment .comment-info .reply {
  float: left;
  width: 60px;
  margin-right: 20px;
}

.post .load-comments .comment .comment-info .reply a {
  color: #666;
  cursor: pointer;
}

.post .load-comments .comment .comment-info .reply a:hover {
  color: #666;
}

.post .load-comments .comment .comment-info .reply img {
  margin-right: 8px;
}

.post .load-comments .comment .comment-info .sub-comment {
  float: left;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
  border-top: 1px solid #ddd;
}

.post .load-comments .comment .comment-info .sub-comment h3 {
  color: #000;
  font-size: 14px;
}

.post .load-comments .comment .comment-info .sub-comment p {
  float: left;
  width: 400px;
}

.post .load-comments .comment .comment-info .sub-comment .comment-info {
  float: left;
  width: 400px;
}

.post .load-comments .comment .comment-info .form-sub-comment {
  display: none;
  float: left;
  margin: 20px 0 0 0;
}

.post .load-comments .comment .comment-info .form-sub-comment textarea {
  width: 550px;
  height: 80px;
  resize: none;
  padding: 5px 10px 5px 10px;
}

.post .load-comments .comment .comment-info .form-sub-comment input {
  width: 210px;
  resize: none;
  padding: 5px 10px 5px 10px;
}

.post .load-comments .comment .comment-info .form-sub-comment button {
  float: right;
  padding: 6px 20px 6px 20px;
  background-color: #02A5E0;
  color: #fff;
  font-weight: bold;
  border: solid 1px #02A5E0;
  border-radius: 3px;
  cursor: pointer;
}


@media (max-width: 768px) {

  .post .load-comments .comment p {
    max-width: 90%;
  }

  .post .load-comments .comment .comment-info {
    max-width: 90%;
  }
}

.post .load-comments .comment img {
  float: left;
  margin-right: 15px;
}

.post .load-comments .comment p {
  float: left;
  width: 570px;
  padding: 10px 0 15px 0;
  font-size: 14px;
  color: #666;
}

@media (max-width: 425px) {
  .post .load-comments .comment p {
    max-width: 100%;
  }
}

.post .write-comment {
  float: left;
  width: 100%;
  padding: 20px 0 20px 0;
}

.post .form-comment {
  float: left;
  padding: 20px 0 20px 0;

}
.post .form-comment textarea {
  width: 630px;
  resize: none;
  padding: 10px 20px 10px 20px;
}

@media (max-width: 425px) {
  .post .form-comment textarea{
    width: 90%;
  }
}

.post .form-comment .comm-in-left {
  float: left;
}

.post .form-comment .comm-in-right{
  float: right;
}

@media (max-width: 425px) {
  .post .form-comment .comm-in-right {
    width: 90%;
    float: left;
  }
}

.post .form-comment input {
  width: 270px;
  margin: 10px 0 10px 0;
  padding: 10px 20px 10px 20px;
}

@media (max-width: 425px) {
  .post .form-comment input  {
    width: 90%;
    float: left;
  }
}

.post .form-comment button {
  float: right;
  padding: 8px 40px 8px 40px;
  background-color: #02A5E0;
  color: #fff;
  font-weight: bold;
  border: solid 1px #02A5E0;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .post .form-comment button {
    float: left;
  }
}

/* POST-ASIDE */
.post-aside section {
	float: left;
  width: 100%;
  padding-bottom: 40px;
}

.post-aside h2 {
	padding-bottom: 15px;;
}

.post-aside ul {
	float: left;
	width: 100%;
}

.post-aside li {
	float: left;
}

.post-aside a {
	color: #000;
}

.post-aside a:visited {
	color: #000;
}

.post-aside a:hover {
	color: #02A5E0;
}

.post-aside .social-profiles {
  float: left;
  max-width: 100%;
}

.post-aside .social-profiles li {
	padding: 0 16px 5px 0;
	text-align: center;
}

.post-aside .social-profiles li:last-child {
	padding-right: 0;
}

.post-aside .social-profiles p {
	font-size: 12px;
	color: #666;
}

.post-aside .subscribe-form {
  max-width: 100%;
	width: 100%;
  float: left;
	background-color: #fafafa;
}

.post-aside .subscribe-form h3 {
  float: left;
  padding: 10px 0 10px 5px;
	font-size: 14px;
	color: #666;
}

.post-aside .subscribe-form p {
  width: 100%;
	float: left;
  padding: 0 0 10px 5px;
}

.post-aside .subscribe-form input {
	float: left;
  width: 60%;
  margin-left: 5px;
	padding: 5px 0 5px 5px;
}

.post-aside .subscribe-form button {
	float: left;
	height: 32px;
	width: 90px;
	border: none;
	color: #fff;
	background-color: #02A5E0;
}

.post-aside .subscribe-form p {
	font-size: 10px;
	color: #aaa;
}

.post-aside .whats-hot {
  float: left;
  margin-bottom: 10px;
}

.post-aside .whats-hot article {
  height: 174px;
  margin-bottom: 5px;
}

.post-aside .whats-hot article img {
	width: 100%;
}

.post-aside .whats-hot article header {
	width: 90%;
  position: relative;
  top: -80px;
}

.post-aside .whats-hot h3 {
  padding: 0 0 10px 10px;
  line-height: 20px;
  color: #fff;
	height: 40px;
}

.post-aside .whats-hot .article-info {
  padding-left: 10px;
  color: #fff;
}

.post-aside .most-popular article {
  float: left;
  width: 100%;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #eee;
}

.post-aside .most-popular article:last-child {
  border: none;
}

.post-aside .most-popular article img {
  float: left;
}

.post-aside .most-popular article header {
  float: left;
  width: 60%;
  padding-left: 10px;
}

.post-aside .most-popular article header h3 {
  float: left;
  width: 100%;
  line-height: 20px;
  padding-bottom: 20px;
}
.post-aside .most-popular article .article-info {
  color: #666;
  font-size: 12px;
}

.post-aside .instagram .gallery {
  float: left;
  width: 100%;
}
.post-aside .instagram .gallery img {
  float: left;
  width: 100px;
  height: 100px;

  margin: 0 5px 5px 0;
}

.post-aside .instagram .gallery img:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.post-footer-content {
	width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .post-footer-content  {
    width: 100%;
    float: left;
  }
}

.post-footer-content h2 {
	margin-top: 30px;
	padding-left: 15px;
  margin-bottom: 5px;
	border-left: solid 4px #02A5E0;
	font-size: 16px;
  color: #fff;
	letter-spacing: 1px;
}

.post-footer-content ul li a {
  color: #ddd;
  font-size: 14px;
  letter-spacing: 1px;
}

.post-footer-content ul li {
  padding-top: 20px;
}

.post-footer-content .contact {
  float: left;
  width: 33%;
}

@media (max-width: 768px) {
  .post-footer-content .contact {
    width: 100%;
  }
}

.post-footer-content .usefull-links {
  float: left;
  width: 19%;
}

@media (max-width: 768px) {
  .post-footer-content .usefull-links  {
    display: none;
  }
}

.post-footer-content .follow-us {
  float: left;
  width: 17%;
  padding-bottom: 25px;
}

@media (max-width: 768px) {
  .post-footer-content .follow-us  {
    display: none;
  }
}

.post-footer-content .follow-us a {
  float: left;
  padding-top: 20px;
  width: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ddd;
}

.post-footer-content .follow-us a .img-space {
  float: left;
  width: 35px;
}

.post-footer-content .newsletter {
  float: left;
  width: 31%;
}

@media (max-width: 768px) {
  .post-footer-content .newsletter  {
    display: none;
  }
}

.post-footer-content .newsletter .newsletter-form {
  margin-top: 25px;
}

.post-footer-content .newsletter .newsletter-form input {
  border: none;
  float: left;
  min-width: 200px;
  height: 37px;
  background-color: #666;
  color: #fff;
  padding-left: 15px;
  font-size: 12px;
  letter-spacing: 1px;
}

.post-footer-content .newsletter .newsletter-form input::placeholder {
  color: #fff;
}

.post-footer-content .newsletter .newsletter-form button {
  border: none;
  float: left;
  height: 37px;
  background-color: #02A5E0;
  padding: 0 10px 0 10px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #fff;
}


/************* CATEGORY PAGE ******************/


.category-articles article {
  float: left;
  width: 98%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

@media (max-width: 425px) {
  .category-articles {
    padding-top: 10px;
    max-width: 100%;
    float: left;
  }
}

.category-articles article img {
  float: left;
  margin-right: 20px;
}

.category-articles article header {
  float: left;
  width: 350px;
  padding-bottom: 5px;
}

@media (max-width: 425px) {
  .category-articles article header {
    padding-top: 10px;
    width: 100%;
    float: left;
  }
}

.category-articles article header h4 {
  color: #02A5E0;
  font-size: 12px;
}

.category-articles article header h3 {
  float: left;
  padding: 8px 0 10px 0;
  width: 100%;
}

.category-articles article header .article-info {
  padding-bottom: 5px;
  font-weight: bolder;
  color: #666;
  font-size: 12px;
}

.category-articles article .article-body {
  float: left;
  max-width: 350px;
  padding-bottom: 5px;
}

.category-articles article .article-body p {
  line-height: 22px;
  font-size: 14px;
  padding-bottom: 10px;
}

.category-articles article .read-more {
  float: left;
}



/* SEARCH PAGE */
.search-page {
  float: left;
  min-height: 500px;
  height: 100%;
}

.search-page .search-form {
  float: left;
  width: 100%;
  margin: 30px 0 30px 0;
}

.search-page .search-form input {
  float: left;
  width: 400px;
  height: 30px;
  padding-left: 5px;
  border: solid 1px #666;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .search-page .search-form input {
    margin-left: 20px;
    width: 90%;
  }
}

.search-page .search-form button {
  float: left;
  width: 110px;
  height: 32px;
  border: solid 1px #02A5E0;
  margin-left: 10px;
  padding: 5px 0 5px 0;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #02A5E0;
  cursor: pointer
}

@media (max-width: 768px) {
  .search-page .search-form button  {
    margin: 5px 0 0 20px;
  }
}

.search-page .search-form button:hover {
  border: solid 1px #fff;
}

.search-page .whisperer {
  display: none;
  position: absolute;
  margin-top: 65px;
  width: 400px;
  height: 120px;
}

.search-page .whisperer li {
  float: left;
  border: 1px solid #ddd;
  background: #fff;
  width: 390px;
  padding-left: 5px;
  line-height: 40px;
  cursor: pointer;
}

.search-page .whisperer li:hover {
  background: #fafafa;
}

.searched-articles {
  width: 100%;
  height: 100px;
}

@media (max-width: 768px) {
  .searched-articles p  {
    max-width: 90%;
  }
}

.search-page .searched-articles article {
  float: left;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
  max-height: 150px;
}

.search-page article img {
  float: left;
  width: 240px;
}

.search-page article h4 {
  padding-bottom: 5px;
  font-size: 12px;
}

.search-page article h3 {
  padding-bottom: 5px;
  font-size: 20px;
}

.search-page article .article-info {
  padding-bottom: 5px;
}

.search-page article header {
  float: left;
  width: 700px;
  padding: 0 10px 10px 10px;
}

.search-page article a {
  float: left;
  margin-left: 10px;
}
